run-name: snowflake-demo #ワークフローの名前

# Controls when the action will run.
on:
#     workflow_dispatch:
#     schedule:
#     # * is a special character in YAML so you have to quote this string
#         - cron:  '0 21 * * *'
    push:
        branches:
            - main



jobs:
  dbt-run:
    name: Set up ubuntu
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.9.14
        uses: actions/setup-python@v4.2.0
        with:
            python-version: 3.9.14

      - name: Install dbt
        working-directory: snowflake_dbt_demo/dbt_demo/

        run: |
            python -m pip install --upgrade pip
            pip install dbt-core dbt-snowflake
            # create profile
            DBT_TYPE_KEY      = ${{ DBT_TYPE_KEY}}
            SF_ACCOUNT        = ${{ SF_ACCOUNT }}
            SF_DATABASE       = ${{ SF_DATABASE }}
            SF_WAREHOUSE      = ${{ SF_WAREHOUSE }}
            SF_SCHEMA         = ${{ SF_SCHEMA }}
            SF_ROLE           = ${{ SF_ROLE }}
            DBT_THREADS       = ${{ DBT_THREADS}}
            SF_USERNAME       = ${{ SF_USERNAME }}
            SF_PASSWORD       = ${{ SF_PASSWORD }}

            mkdir ~/.dbt
            cat << EOF > ~/.dbt/profiles.yml
            box_dbt:
                target: dev
                outputs:
                    dev:
                        type:      ${!DBT_TYPE_KEY}
                        account:   ${!SF_ACCOUNT}
                        database:  ${!SF_DATABASE}
                        warehouse: ${!SF_WAREHOUSE}
                        schema:    ${!SF_SCHEMA}
                        role:      ${!SF_ROLE}
                        threads:   ${!DBT_THREADS}
                        user:      ${!SF_USERNAME}
                        password:  ${!SF_PASSWORD}
                EOF
                cat ~/.dbt/profiles.yml
                dbt debug

      - name: Run dbt
        working-directory: snowflake_dbt_demo/dbt_demo/
        run: |
            dbt run

      - name: Test dbt
        working-directory: snowflake_dbt_demo/dbt_demo/
        run: |
            dbt test
