run-name: snowflake-demo #ワークフローの名前

# Controls when the action will run.
on:
#     workflow_dispatch:
#     schedule:
#     # * is a special character in YAML so you have to quote this string
#         - cron:  '0 21 * * *'
    push:
        branches:
            - main

jobs:
  dbt-run:
    name: Set up ubuntu
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.9.14
        uses: actions/setup-python@v4.2.0
        with:
            python-version: 3.9.14

      - name: Install dbt
        working-directory: dbt_demo/
        env:
            DBT_TYPE_KEY : ${{ secrets.DBT_TYPE_KEY }}
            SF_ACCOUNT   : ${{ secrets.SF_ACCOUNT }}
            SF_DATABASE  : ${{ secrets.SF_DATABASE }}
            SF_WAREHOUSE : ${{ secrets.SF_WAREHOUSE }}
            SF_ROLE      : ${{ secrets.SF_ROLE }}
            DBT_THREADS  : ${{ secrets.DBT_THREADS }}
            SF_USERNAME  : ${{ secrets.SF_USERNAME }}
            SF_PASSWORD  : ${{ secrets.SF_PASSWORD }}
        run: |
            python -m pip install --upgrade pip
            pip install dbt-snowflake
            # create profile
            TYPE_KEY          = $( echo $( DBT_TYPE_KEY ))
            SF_ACCOUNT        = $( echo $( SF_ACCOUNT ))
            SF_DATABASE       = $( echo $( SF_DATABASE ))
            SF_WAREHOUSE      = $( echo $( SF_WAREHOUSE ))
            SF_ROLE           = $( echo $( SF_ROLE ))
            DBT_THREADS       = $( echo $( DBT_THREADS ))
            SF_USERNAME       = $( echo $( SF_USERNAME ))
            SF_PASSWORD       = $( echo $( SF_PASSWORD ))

            mkdir ~/.dbt
            cat << EOF > ~/.dbt/profiles.yml
            box_dbt:
                target: dev
                outputs:
                    dev:
                        type:      ${!TYPE_KEY}
                        account:   ${!SF_ACCOUNT}
                        database:  ${!SF_DATABASE}
                        warehouse: ${!SF_WAREHOUSE}
                        schema:    ${!SF_SCHEMA}
                        role:      ${!SF_ROLE}
                        threads:   ${!DBT_THREADS}
                        user:      ${!SF_USERNAME}
                        password:  ${!SF_PASSWORD}
                EOF
                cat ~/.dbt/profiles.yml
                dbt debug

      - name: Run dbt
        working-directory: dbt_demo/
        run: |
            dbt run

      - name: Test dbt
        working-directory: dbt_demo/
        run: |
            dbt test
