name: schedule_dbt_job

on:
   schedule:
       # run at 7AM every single day
       # https://crontab.guru <-- for generating CRON expression
       - cron: "0 7 * * *"
   push:
       branches:
       # run on push to development branch
       - main
env:
   DBT_PROFILES_DIR: ./
   DBT_SNOWFLAKE_USERNAME: ${{ secrets.SF_USERNAME }}
   DBT_SNOWFLAKE_PW: ${{ secrets.SF_PASSWORD }}
   DBT_SNOWFLAKE_ROLE: ${{ secrets.SF_ROLE }}

jobs:
   schedule_dbt_job:
       name: schedule_dbt_job
       runs-on: ubuntu-latest

       steps:
       - name: Check out
         uses: actions/checkout@master

       - uses: actions/setup-python@v1
         with:
           python-version: "3.8.x"

       - name: Install dependencies
         run: |
            pip install dbt-snowflake

       # dbt related commands here - run use --target prod/dev to run for specific environments
       - name: where am i ?
         run: |
            $echo pwd
       
       - name: Run dbt models
         run: dbt run --profiles-dir profiles.yml
