name: schedule_dbt_job

on:
   workflow_dispatch:
  
   schedule:
       # run at 7AM every single day
       # https://crontab.guru <-- for generating CRON expression
       - cron: "0 7 * * *"
  #  push:
  #      branches:
  #      # run on push to development branch
  #      - main
env:
  #  DBT_PROFILES_DIR: ./
   SF_SNOWFLAKE: ${{ secrets.SF_ACCOUNT }}
   SF_DATABASE:  ${{ secrets.SF_DATABASE }}
   SF_WAREHOUSE: ${{ secrets.SF_WAREHOUSE }}
   SF_SCHEMA:    ${{ secrets.SF_SCHEMA }}
   SF_USERNAME:  ${{ secrets.SF_USERNAME }}
   SF_PASSWORD:  ${{ secrets.SF_PASSWORD }}
   SF_ROLE:      ${{ secrets.SF_ROLE }}

jobs:
   schedule_dbt_job:
       name: schedule_dbt_job
       runs-on: ubuntu-latest

       steps:
       - name: Check out
         uses: actions/checkout@master

       - uses: actions/setup-python@v1
         with:
           python-version: "3.8.x"

       - name: Install dependencies
         run: |
            pip install dbt-snowflake
            python3 -m pip install --upgrade pip

       - name: Show current directory_1
         run: pwd
       - name: list current directory_1
         run: ls

       - name: set profiles
         run: |
            mkdir ~/.dbt
            cat << EOF > ~/.dbt/profiles.yml
            dbt_demo:
              target: dev
              outputs:
                dev:
                  type:      $snowflake
                  account:   ${{ secrets.SF_SNOWFLAKE }}
                  database:  ${{ secrets.SF_DATABASE }}
                  warehouse: ${{ secrets.SF_WAREHOUSE }}
                  schema:    ${{ secrets.SF_SCHEMA }}
                  role:      ${{ secrets.DBT_ROLE_KEY }}
                  threads:   $8
                  user:      ${{ secrets.SF_USERNAME }}
                  password:  ${{ secrets.SF_PASSWORD }}
                  # type: snowflake
                  # account: insightlabpartner.ap-northeast-1.aws
                  # database: TR_DAISUKE_HARATO
                  # warehouse: DEMO_WH
                  # schema: dbt_demo
                  # role: isl_training
                  # threads: 8
                  # user: DAISUKE_HARATO
                  # password: Daikon0313
            EOF
            cat ~/.dbt/profiles.yml

       # dbt related commands here - run use --target prod/dev to run for specific environments
       - name: Show current directory
         run: pwd
       - name: list current directory
         run: ls
       - name: Run dbt models
         working-directory: dbt_demo
         run: |
            dbt debug
            dbt run
